.container{
    width: 100%;
    background-color: #1C2B35;
}

.header-container{
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0 auto;

}
.logo{
    margin-left: 25px;
}
.header-container img{
    width: 140px;
}
.menus{
    margin-right: 25px;
}
.menus a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.menus a:hover{
    color: orange;
}