.header-container{
    display: flex;
    background-color: #1C2B35;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 30px;

}

.header-container img{
    width: 140px;
}
.menus a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    
}