.shop-container{
    width: 1440px;
    display: grid;
    grid-template-columns: 8fr 1fr;
    /* justify-items: right; */
    margin: 0 auto;
    /* padding: 0 25px; */
    
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    gap: 40px;
}

.order-summary{
    background-color: rgba(255, 153, 0, 0.3);
    width: 264px;
    height: 944px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}