.p-tag{
    /* font-weight: 200; */
    font-size: 18px;
    color: #2A414F;
    text-align: left;
    padding-left:20px ;
}



.total-price{
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    padding-left:20px ;
}
.equal-line{
    border-bottom: solid 3px rgb(120, 120, 120);
    margin: 0 5px;
}